@tailwind base;
@tailwind components;
@tailwind utilities;

/* #test-card {
   position: absolute;
} */

.task-group {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: stretch;
}

.connector {
   border: solid;
   width: 34px;
}

/* TODO: SELECTED GROUP */
/*    - Right select */
/*    - Left select */