@tailwind base;
@tailwind components;
@tailwind utilities;

.task-group {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: stretch;
   gap: 1rem;
}

.group-line {
   border-top-width: 2px;
   border-style: solid;
   border-color: hsl(var(--p));
   width: 100%;
   max-width: 20rem;
   min-width: 1rem;
}

.ghost-card {
   border-width: 2px;
   border-style: dashed;
   border-color: hsl(var(--p));
   color: hsl(var(--p));
}

.select-right, .select-left {
   border-style: solid;
   border-color: hsl(var(--p));
}

.select-left {
   border-left-width: 2px;
}

.select-right {
   border-right-width: 2px;
}
